{% extends 'main/base.html' %}
<!---->
{% block content %}
<footer class="container-fluid" id="footer">
  <div class="upper-section">
    <div class="about-us">
      <div class="holder">
        <i class="fa-solid fa-building fa-3x"></i>
        <div>
          <h4>PropertyHub</h4>
          <p>Landlord Portal</p>
        </div>
      </div>
      <p>
        Streamline your property management with our comprehensive platform
        designed specifically for landlords managing multilpe apartments and
        bedsitters.
      </p>
    </div>
    <div class="links">
      <h4>Quick Links</h4>
      <a href="#">Features</a>
      <a href="#">Dashboard</a>
      <a href="#">Pricing</a>
      <a href="#">Support</a>
    </div>
    <div class="contact">
      <h4>Contact</h4>
      <a href="#"
        ><i class="fa-solid fa-envelope fa-lg"></i> info@properthub.com</a
      >
      <a href="#"><i class="fa-solid fa-phone fa-lg"></i> +254 757379531</a>
      <a href="#"
        ><i class="fa-solid fa-location-dot fa-lg"></i> 123 Property St, City</a
      >
    </div>
  </div>
  <hr />
  <div class="lower-section">
    <h3>Ready to Manage Your Properties?</h3>
    <p>
      join thousands of landlords who trust PropertyHub to manage their
      properties efficiently.
    </p>
  </div>
  <br />
  <br />
  <br />
</footer>
{% endblock %}
