{% extends 'main/base.html' %}
<!---->
{% block content %}
<div class="container-fluid" id="add-tenant">
  <h2>Add New Tenant</h2>

  {% if success %}
  <div class="alert alert-success" role="alert">
    Tenant added successfully.
    <a href="{% url 'add_tenant' %}" class="alert-link">Add Tenant</a>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  {% else %}
  <div class="form-wrapper">
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button
        type="submit"
        style="
          padding: 8px 15px;
          background: green;
          color: white;
          border: none;
          border-radius: 5px;
        "
      >
        Save Tenant
      </button>
      <br />
      <br />
      <a
        href="{% url 'tenant_dashboard_admin' %}"
        class="btn btn-secondary"
        style="
          padding: 8px 15px;
          color: white;
          border: none;
          border-radius: 5px;
        "
        >Back</a
      >
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
