{% extends 'main/base.html' %}
<!---->
{% block content %}
<section class="container-fluid" id="command-center">
  <div class="heading">
    <h1>Your Property <span>Command Center</span></h1>
    <p>
      Get a complete overview of your properties, tenants, and financials in one
      powerful dashboard
    </p>
  </div>
  <div class="card-wrapper">
    <div class="card-details">
      <h4>
        Monthly Revenue
        <i class="fa-solid fa-dollar-sign fa-lg"></i>
      </h4>
      <p>$12,800</p>
    </div>
    <div class="card-details">
      <h4>
        Occupancy Rate
        <i class="fa-solid fa-building fa-lg"></i>
      </h4>
      <p>94%</p>
    </div>
    <div class="card-details">
      <h4>
        Maintenance
        <i class="fa-solid fa-paint-roller fa-lg"></i>
      </h4>
      <p>Pending-------3</p>
      <p>In progress----2</p>
      <p>completed----8</p>
    </div>
  </div>
  <div class="bottom-section">
    <div class="card-wrapper">
      {% for apartment in apartments %}
      <div class="card-details">
        <h3>{{ apartment.name }}</h3>
        <p>
          {{ apartment.occupied_units }}/{{ apartment.total_units }} units
          occupied
        </p>

        <!-- Progress bar -->
        <div class="progress-bar">
          <div
            class="progress"
            style="width: {{ apartment.occupied_units|floatformat:0 }}%"
          ></div>
        </div>

        <p>✔ Occupied: {{ apartment.occupied_units }}</p>
        <p>○ Available: {{ apartment.available_units }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
