{% extends 'main/base.html' %}
<!---->
{% block content %}
<section class="container-fluid" id="hero">
  <div class="hero-section">
    <div class="section-content">
      <h1 class="fa-4x">
        Manage Your <br />
        <span>Property Empire</span>
      </h1>
      <p>
        Streamline apartment management, track tenants, and <br />
        maximize your rental income with our comprehensive landlord <br />
        portal.
      </p>
    </div>
    <div class="section-content section-info">
      <div class="section-details">
        <div>
          <i class="fa-solid fa-building fa-2x"></i>
          <span class="fs-2 fw-bold">{{ apartments }}</span>
        </div>
        <p class="fs-3 fw-bold">Apartments</p>
      </div>
      <div class="section-details">
        <div>
          <i class="fa-solid fa-key fa-2x"></i>
          <span class="fs-2 fw-bold">{{ bedsitters }}</span>
        </div>
        <p class="fs-3 fw-bold">Bedsitters</p>
      </div>
      <div class="section-details">
        <div>
          <i class="fa-solid fa-users fa-2x"></i>
          <span class="fs-2 fw-bold">{{ tenants }}</span>
        </div>
        <p class="fs-3 fw-bold">
          Active <br />
          Tenants
        </p>
      </div>
    </div>
    <div class="text-center">
      <span
        >Copyright &copy;
        <script>
          document.write(new Date()).getFullYear();
        </script>
        Osama's Programming Accademy.</span
      >
    </div>
  </div>
</section>
{% endblock %}
