{% extends 'main/base.html' %}
<!---->
{% block content %}
<section class="container-fluid" id="property">
  <div class="heading">
    <h1>Everything You Need to <span>Manage Properties</span></h1>
    <p>
      From tenant management to financial tracking, our comprehensive platform
      handles every aspect of property management
    </p>
  </div>
  <div class="content-wrapper">
    <div class="content-details">
      <a href="{% url 'apartment_dashboard' %}"
        ><i class="fa-solid fa-building fa-lg"></i
      ></a>
      <h4>Apartment Management</h4>
      <p>
        Organize and track all apartments with detailed information about each
        bedsitter unit.
      </p>
    </div>
    <div class="content-details">
      <a href="{% url 'tenant_dashboard_admin' %}"
        ><i class="fa-solid fa-users fa-lg"></i
      ></a>
      <h4>Tenant Portal</h4>
      <p>
        Manage tenant information, lease agreements and communication in one
        centralized location.
      </p>
    </div>
    <div class="content-details">
      <i class="fa-solid fa-money-check-dollar fa-lg"></i>
      <h4>Rent allocation</h4>
      <p>
        Automated rent tracking, payment reminders, and financial record
        keeping.
      </p>
    </div>
  </div>
</section>

{% endblock %}
