{% extends 'main/base.html' %}
<!---->
{% block content %}
<section class="container-fluid">
  <div class="heading">
    <h1>Everything You Need to <span>Manage Properties</span></h1>
    <p>
      From tenant management to financial tracking, our comprehensive platform
      handles every aspect of property management
    </p>
  </div>
  <div class="content-wrapper">
    <div class="content-details">
      <i class="fa-solid fa-building fa-lg"></i>
      <h3>Apartment Management</h3>
      <p>
        Organize and track all apartments with detailed information about each
        bedsitter unit.
      </p>
    </div>
    <div class="content-details">
      <i class="fa-solid fa-users"></i>
      <h3>Tenant Portal</h3>
      <p>
        Manage tenant information, lease agreements and communication in one
        centralized location.
      </p>
    </div>
    <div class="content-details">
      <i class="fa-solid fa-money-check-dollar"></i>
      <h3>Rent allocation</h3>
      <p>
        Automated rent tracking, payment reminders, and financial record
        keeping.
      </p>
    </div>
  </div>
</section>

{% endblock %}
