{% extends 'main/base.html' %} {% block content %}

<div class="container-fluid" id="tenant-list">
  <h2>All Tenants</h2>
  <div>
    <div class="tenant-wrapper">
      {% for tenant in tenants %}
      <div class="tenant-card">
        <a href="{% url 'tenant_detail' tenant.id %}">
          {{ tenant.first_name }} {{ tenant.last_name }}
        </a>
      </div>
      {% empty %}
      <p>No tenants found.</p>
      {% endfor %}
    </div>
    <a href="javascript:history.back()" class="btn btn-secondary mt-3">Back</a>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

{% endblock %}
