{% extends 'main/base.html' %}
<!---->
{% block content %}
<div class="container-fluid" id="tenant">
  <div class="card">
    <div class="card-header tenant-heading">
      <h2>Tenant Details</h2>
      <a href="#"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
    </div>
    <div class="card-photo">
      {% if tenant.profile_photo %}
      <img
        src="{{ tenant.profile_photo.url }}"
        alt="Profile photo"
        style="max-width: 150px; border-radius: 8px"
      />
      {% endif %}
    </div>
    <div class="card-body tenant-card">
      <p>
        <strong>Name:</strong> {{ tenant.first_name }} {{ tenant.last_name }}
      </p>
      <p><strong>Phone:</strong> {{ tenant.phone_number }}</p>
      <p><strong>Email:</strong> {{ tenant.email }}</p>
      <p><strong>ID Number:</strong> {{ tenant.id_number }}</p>
      {% if tenant.bedsitter %}
      <p><strong>Bedsitter:</strong> {{ tenant.bedsitter.number }}</p>
      {% endif %}

      <a
        href="{% url 'apartment_detail' tenant.bedsitter.apartment.id %}"
        class="btn btn-secondary mt-3"
        >Back</a
      >
    </div>
  </div>
</div>
{% endblock %}
