@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
    text-decoration: none;
}

body,
html {
    overflow-x: hidden;
    height: 100vh;
    transition: 0.4s;
}

a {
    text-decoration: none;
}

#hero {
  background-image: linear-gradient(rgba(44, 62, 80, 0.9), 
  rgba(44, 62, 80, 0.9)), 
  url("/static/main/images/background3.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  color: white;
}

.nav-link:hover {
    background: #0dcaf0;
    color: white;
    border-radius: 20px;
    transition: 0.2s ease-in;
}

.hero-section .section-content {
    padding: 2rem 2rem 2rem 2rem;
}

.hero-section .section-content p {
    font-size: 2rem;
}

.hero-section .section-content h1 {
    color: aliceblue;
    font-weight: bold;
}

.hero-section .section-content h1 span {
    color: aquamarine;
}

.section-info {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
}

.section-details {
    height: 10rem;
    width: 5rem;
}

.section-details p {
    color: #0dcaf0;
    font-size: 0.5rem;
}

/* login form styling */
.login-input {
    width: 20rem;
}

/* manage_property.html.html styling */
#property {
    background-color: #ddf0eb;
    padding: 1rem;
}

.heading {
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading h1 span {
    color: dodgerblue;
}

.heading p {
    font-size: 1.5rem;
    text-align: center;

}

.content-wrapper {
    display: flex;
    margin-top: 5rem;
    padding-bottom: 10rem;
    gap: 2rem;
    justify-content: center;
}

.content-wrapper .content-details {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 3rem 0 3rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 25rem;
}

.content-wrapper .content-details:hover {
    transform: translateY(-10px);
}

.content-wrapper .content-details h4 {
    color: black;
}

.content-wrapper .content-details i {
    color: dodgerblue;
}

/* apartment_dashboard.html styling */
#dashboard {
    background-color: #ddf0eb;
    padding: 5rem 3rem 25rem 3rem;
}
#dashboard h2 {
    color: dodgerblue;
    font-weight: 600;
    padding-bottom: 1rem;
}

/* apartment_details.html styling */
.container-fluid .bedsitter-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

#bedsitters {
    background-color: #ddf0eb;
    padding: 5rem 3rem 10rem 3rem;
}

#bedsitters h2 {
    color: dodgerblue;
    font-weight: 600;
}

.bedsitter-card {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.bedsitter-card.occupied {
    background: #d4edda; /* Green for occupied */
}
.bedsitter-card.vacant {
    background: #f8d7da; /* Red for vacant */
}

/* tenant_details.html styling */
#tenant {
    background-color: #ddf0eb;
    padding: 5rem 3rem 10rem 3rem;
}

.tenant-card p {
    color: black;
}

.container-fluid .card .tenant-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) {}

/* Responsive media query code for max width 640px */
@media screen and (max-width: 640px) {
    .section-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

